#main {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#pic-best-container{
  display: none
}

#pic-versus-container{
  display: none;
}

#pic-list-container {
  margin-left:auto;
  margin-right:auto;
  display: none
}

#find-input-container {
  padding: 1em;
}

#find-input-container {
}

#pic-view-container {
  float: left;
  display: none
}

#pic-upload-container {
  display: none;
}

#pic-view-img {
  margin: 1em;
  border-style:solid;
  border-width:2;
}

.pic-versus-img {
  margin: 1em;
  border-style:solid;
  border-width:2;
  float:left;
}


#pic-edit-container {
  text-align:left;
  display: none;
}
