#main {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#pic-best-container{
}

#pic-versus-container{
  display: none;
}

#pic-list-container {
}

#find-input-container {
}

#pic-view-container {
  float: left;
  display: none
}

#pic-edit-container {
  display: none;
}
