<div class="navbar navbar-fixed-top" ng-controller="PicsController">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul class="nav">
        <li class="active">
          <a class="brand" href="#">Jugular</a>
        </li>
        <li><a ng-click="showAbout()">About</a></li>
        <li><a ng-click="showUpload()">Upload</a></li>
        <li><a ng-click="showBest()">Best of</a></li>
        <li><a ng-click="showVersus()">Versus</a></li>
        <li><a ng-click="showFindPic()">Find</a></li>
      </ul>
    </div>
  </div>
</div>
