<div id="pic-view-container" ng-show="selectedPic">
  <div id="pic-view-img">
    <img src={{selectedPic.image}}></img>
  </div>
  <h3>{{selectedPic.title}}</h3>
  <h3>{{selectedPic.score}}</h3>

</div>
