<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>


<html ng-app="Jugular">

<body>
<div ng-controller="PicsController">
  <h1>Message: {{message}}</h1>
</div>
</body>

</html>
