<%= stylesheet_link_tag "bootstrap", :media => "all" %>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>


<html ng-app="Jugular">

<body>

  <div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="brand">Jugular</div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="main">
    <div ng-controller="PicsController">

      <div id="pic-versus-container">
        <h2>{{versusPic1.title}} Vs. {{versusPic2.title}}</h2>
        <span><img src={{versusPic1.image}}></img></span>
        <span><img src={{versusPic2.image}}></img></span>
      </div>


      <div id="pic-best-container">
        <h2>Best Jugs</h2>
        <ol>
          <li ng-repeat="pic in pics | filter:10">
            <img src={{pic.image}}></img>
            <p>{{pic.title}}</p>
          </li>
        </ol>
      </div>


      <div id="pic-upload-container">
        <div>
          <h2>Upload</h2>
        </div>
      </div>

      <div>
        <div id="pic-view-container" ng-show="selectedPic">
          <img src={{selectedPic.image}}></img>
          <h2>{{selectedPic.title}}</h2>
          <p>{{selectedPic.score}}</p>
        </div>

        <div id="pic-edit-container">
          <form name="picEditForm">
            <table>
            <tr><td></td></tr>
            <tr><td>Title: <input type="text" name="title" value={{title}} ng-model="selectedPic.title" ng-minlength="3" ng-maxlength="64" ng-required=true></td></tr>
            <tr><td>Score: <input type="number" name="score" value={{score}} ng-model="selectedPic.score" ng-required=true></td></tr>
            </table>
            <span class="error" ng-show="picEditForm.title.$error.required">Required!</span>
            <span class="error" ng-show="picEditForm.title.$error.minlength">Too short!</span>
            <span class="error" ng-show="picEditForm.title.$error.maxlength">Too long!</span>
            <span class="error" ng-show="picEditForm.score.$error.required">Required!</span>
          </form>
        </div>
      </div>


      <div id="pic-list-container">
        <div id="find-input-container">
          Find <input ng-model="searchText">
        </div>
        <table>
          <tr ng-repeat="pic in pics | filter:searchText | orderBy:listOrder:true" ng-class="isSelected(pic)">
            <td><p ng-click="selectPic(pic)" >{{pic.title}}</p></td>
            <td>{{pic.score}}</td>
          </tr>
        </table>
      </div>






    </div>
  </div>
</body>

</html>
